<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<link rel="stylesheet" href="stylesheets/main.css">
	<script src="https://unpkg.com/vue"></script> 
</head>
<body>
	<audio class="sound">
		<source src="/audio/msg.mp3" type="audio/mpeg">
	</audio>
	<main id="app">		
		<section class="form-container">
			<div class="logo">
				<img src="/images/logo.png" alt="logo">
				<a href="/logout" v-on:click.prevent="logDisconnect">Log Out</a>
			</div>	
			<!--label for="nickname">Your Nickname (optional)</label>
			<input v-model="nickname" type="text" id="nickname" class="nickname" placeholder="What is your nickname?">
			-->
			<section class="nicknameBox" :class="{ ThenicknameBox : shownicknameBox }">
					<form>
						<div class="error" :class="{ 'nickname-error' : nicknameError }"><p>Choose a nickname to start!</p></div>
						<label for="nickname">Your Nickname</label>
						<input v-model="nickname" type="text" id="nickname" class="nickname" placeholder="What is your nickname?">
						<input type="submit" value="LOG IN" @click.prevent="whiteNickname">
					</form>
				</section>	
			<form>
				<label for="message">White your message here:</label>
				<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea"></textarea>
				<input type="submit" @click.prevent="dispatchMessage">
			</form>
			</section>
		
		<section class="messages">
			<ul id="messages" v-for="message in messages">
				<!-- render the message component here -->
				<newmessage :msg="message"></newmessage>				
			</ul>
		</section>		
	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="javascripts/main_vm.js"></script>
</body>
</html>